.root-background {
    -fx-background-image: url("/image/20250517_1847_AquariumDelight_simple_compose_01jvf6676cf0etpz269ndzhsq0.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}